body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

/* Show page css*/
nav {
    color: red;
    overflow: hidden;
    margin-bottom: 30px;
}
body{
    background: #ffffff;
}
.navlink {
    float: left;

}
nav a{
    padding:5px 10px;
    border:1px solid black;
    border-radius:5px;
    margin:10px;
}
.dellink{
    float: left;
}

#containerShow{
    width:80%;
    margin: 0 auto;
    margin-top:80px;
}