
@{
    ViewBag.Title = "New";
}

<h2>New Teachers</h2>


<form method="post" action="/Teacher/Create">
    <div>
        <label for="TeacherFname">First Name:</label>
        <input type="text" id="TeacherFname" name="TeacherFname" required/>
    </div>
    <div>
        <label for="TeacherLname">Last Name:</label>
        <input type="text" id="TeacherLname" name="TeacherLname" required/>
    </div>
    <div>
        <label for="EmployeeNumber">Employee Number:</label>
        <input type="text" id="EmployeeNumber" name="EmployeeNumber" required />
    </div>
    <div>
        <label for="HireDate">Hire Date:</label>
        <input type="datetime" id="HireDate" name="HireDate" required/>
    </div>
    <div>
        <label for="Salary">Salary:</label>
        <input type="text" id="Salary" name="Salary" required/>
    </div>

    <div>

        <input type="submit" value="Add Teacher" />
    </div>

</form>


